div{
    border:8px solid black;
    background-color: rgb(207, 93, 112);
    margin : 9px;
    text-align : center;
    padding : 8px;
}
#beginning ,#second{
    border: solid orange;
}
*{
    font-family:Arial, Helvetica, sans-serif;
    font:50px;
    font-style: italic;
    font-size: large;
}