body {
    font-family : Arial, sans-serif;
    margin : 0;
}
.navbar {
    background: #0077b6;
    padding: 12px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    font-weight: bold;
    font-size: 22px;
}
.log img {
    width: 40px;
    height: 40px;
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 18px;
    margin: 0;
    padding: 0;
}
.nav-links a {
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
}
.nav-links a:hover {
    text-decoration: underline;
}
.container {
    padding: 20px;
}
input, select, textarea, button {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
}