.navbar {
    background-color: #007bff;
    padding: 1rem 2rem;
}
.navbar ul{
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: 0;
    padding:0;
    align-items: center;
}
.navbar li a{
    color: white;
    text-decoration: none;
    font-weight: 600;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background 0.3s;
}
.navbar a:hover {
    background-color: #0056b3;
    text-decoration: none;
}
.navbar .logout-button {
    background: none;
    border:none;
    color: white;
    font-weight: 600;
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background 0.3s;
}
.navbar .logout-button:hover {
    background-color: #0056b3;
}
